.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error {
  color: red;
}

.specks {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-container>span {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  margin:  1px 0 1px 1px;
  padding:20px;
  font-size: 30px;
  /*align-items: center;*/
  /*justify-content: center;*/
  flex: 1 1 25%;
  display: flex;
}

.flex-container :hover {
  background-color: green;
}

.flex-container > span > span {
  margin: auto;
}

.button {
    width: 300px;
    height: 100px;
    color: white;
    background-color: green;
    font-size: 30px;
}